.profile-page {
  position: relative;

  &__cover {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    z-index: 5;
  }

  &__floating {
    top: 100px;
    position: fixed;
    float: right;
    right: 0;
    z-index: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: black;
  }

  &__floating-icon {
    font-size: 20px !important;
    // border-right: 1px solid #BC9561;
    border-right: 1px solid #e0006c;
    color: #e0006c;
    padding: 1rem 0;
    padding-right: 1rem;
  }

  &__floating-info {
    text-transform: uppercase;
    display: inline-block;
    padding-left: 1rem;

    span {
      display: block;
    }

    .phone {
      color: #e0006c;
    }
  }

  &__counter {
    padding: 1rem 2rem;
    display: inline-block;
    margin: 0 auto;
    background: #e0006c;
    text-align: center;
  }

  &__title {
    padding: 3rem;
    margin-top: -80px;
    text-align: center;
    background-color: rgba(10,10,10,0.49) !important;

    h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }
  }

  &__content {
    background-color: #1a191f;
    padding: 4rem 0;
  }
}
