a {
  color: $pink;

  &:hover {
    color: $white;
  }
}

img {
  max-width: 100%;
}

/**
* Helper Classes
*/
.hidden {
  display: none
}

/**
* Grid
*/
// .grid
.container {
  // max-width: 1920px;
  // margin: 0 auto;
  // padding: 0 5%;
}

// @media only screen and (min-width: 1420px) {
//   .container {
//     padding:0 10%;
//   }
// }

// @media only screen and (min-width: 1920px) {
//   .container {
//     padding:0 192px;
//   }
// }

/**
* Animations
*/
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(.6);
  }

  to {
    transform: rotate(1turn) scale(1);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/**
* Arrow-icon
*/
.arrow-icon {
  transition: transform .3s ease-in-out;
}

.arrow-icon.right {
  transform: scale(-1);
}

.arrow-icon.right,.arrow-icon.up {
  transition: transform .3s ease-in-out;
}

.arrow-icon.up {
  transform: rotate(90deg);
}

.arrow-icon.down {
  transform: rotate(270deg);
  transition: transform .3s ease-in-out;
}

/**
* Gradient Background
*/
.bg-gradient {
  background: linear-gradient(to right, #fd61e3, #fd61e3 50%, #ff77b8);
}

/**
* Countdown
*/
.countdown {
  display: flex;
  justify-content: center;
  font-weight: 100;
  margin: 0 auto;
  text-align: center;

  &__colum {
    padding: 0.625rem;
    border-left: 1px solid rgba(#fff, 0.2);

    &:first-child { border: 0; }

    @include media-breakpoint-up(sm) {
      padding-left: 1.3rem;
      padding-right: 1.3rem;
    }

    @include media-breakpoint-up(sm) {
      padding-left: 1.8;
      padding-right: 1.8;
    }
  }

  &__amount {
    display: block;
    font-size: 3rem;
    line-height: 1em;
    color: $pink;

    @include media-breakpoint-up(sm) {
      font-size: 4rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 5rem;
    }
  }
  &__period {
    display: block;
    font-size: 0.85rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.3rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
    }
  }
}

//====================
//      OTHERS
//====================


.feature-info {
  &__img {
    border: 3px solid $pink;
  }
}

.rv-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;

  &__dash-line {
    clear: both;
    display: inline-block;
    margin-top: 40px;
    background-color: $pink;
    width: 50px;
    height: 3px;
    bottom: 0;
  }
}

.brand__title {
  margin-top: 24px;
}

.brand__subtitle {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
  text-transform: uppercase;
}

.btn-red {
  background: $pink;
  color: #fff;

  &:hover,
  &:focus,
  &:active {
    background: darken($pink, 10);
  }
}

.btn-block {
  white-space: inherit;
}
